@import "utils/libs.scss";   // библиотеки и фреймворки
@import "utils/vars.scss";   // переменные Sass
@import "utils/mixins.scss"; // миксины Sass
@import "utils/fonts.scss";  // шрифты


// Основной код со стилями
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular';
}
section {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333333;

    img {
        width: 20%;
        animation: 5s ease-in-out 0s normal none infinite running rot;
    }

    h1 {
        color: #fff;
    }
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.iconFA i {
    font-size: 2em;
    color: #fff;
}

// Модули страницы
@import "modules/header.scss"; // Модули блоков